#include "charybdis.dtsi"

&kscan0 {
	col-gpios
		= <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		, <&pro_micro 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		;
};

led_indicators {
        compatible = "gpio-leds";
        label = "LED indicators";
        
        led_capslock: led_capslock {
            gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
            label = "Caps lock LED";
        };

        led_numlock: led_numlock {
            gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
            label = "Num lock LED";
        };

	    led_scrolllock: led_scrolllock{
            gpios = <&gpio0 29 GPIO_ACTIVE_HIGH>;
            label = "Scroll lock LED";
        };
};
